<footer>
    <div class="container">
        <form action="#" method="post" class="form-subscribe">
            <div class="form-subscribe_mail">
                <div class="label">Ваш EMAIL:</div>
                <div class="input"><input type="email" value="" id="email" placeholder="example@mail.ru" required></div>
            </div>
            <div class="form-subscribe_subscribe">
                <input type="checkbox" id="subscribe">
                <label for="subscribe">ПОДПИСАТЬСЯ НА НОВОСТИ</label>
            </div>
            <div class="form-subscribe_submit"><input type="submit" value="Зарегистрироваться" /></div>
        </form>
    </div>
</footer>