@import "../../bower_components/meyer-reset/stylesheets/_meyer-reset";
@font-face {
    font-family: Prototypster;
    src: url('../fonts/PrototypsterMedium.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/PrototypsterMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/PrototypsterMedium.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/PrototypsterMedium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/PrototypsterMedium.svg#svgFontName') format('svg');
    /* Legacy iOS */
}


/*mixins*/

$color-orange: #ff5e42;
$color-gray: #b8b8b8;
$color-black: #2a2a2a;
@mixin center-block() {
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url('../img/bg.jpg');
    font-family: 'Tahoma';
}

header {
    padding-top: 50px;
}

.container {
    max-width: 1024px;
    @include center-block();
}

.logo {
    @include center-block();
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.invisible {
    display: none;
}

.reverse {
    transform: rotate(-180deg);
}

.sorting {
    text-align: center;
}

.sorting span {
    color: $color-orange;
    border-bottom: 1px dashed $color-orange;
    // padding-bottom: 2px;
    cursor: pointer;
}

.sorting .direction {
    transition: all 0.3s;
    line-height: 0.6;
}

.sorting .show {
    display: table-cell;
}

.scroll-to-top {
    width: 90px;
    @include center-block();
    font-family: Prototypster;
    font-size: 36px;
    color: $color-orange;
    cursor: pointer;
    margin-bottom: 50px;
    text-transform: uppercase;
    border-bottom: 2px solid $color-orange;
}


/*items*/

.items {
    padding-top: 50px;
}

.items:after {
    display: table;
    content: '';
    clear: both;
}

.item-wrapper {
    width: 33.33%;
    float: left;
    padding: 0px 20px;
    box-sizing: border-box;
    color: $color-black;
    text-decoration: none;
}

.item {
    transition: all 0.3s;
    background-color: #fff;
    border-radius: 6px;
    height: 520px;
    font-size: 14px;
    margin-bottom: 50px;
    position: relative;
    padding: 10px;
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.item .item_tag-hit {
    position: absolute;
    top: 0;
    right: 20px;
    // width: 30px;
    // height: 40px;
    padding: 12px 6px 10px;
    text-align: center;
    background-color: $color-orange;
}

.item .item_tag-hit:before {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    border-style: solid;
    border-width: 8px 20px 0 0;
    border-color: $color-orange transparent transparent transparent;
}

.item .item_tag-hit:after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    bottom: -8px;
    right: 0;
    border-style: solid;
    border-width: 0px 20px 8px 0;
    border-color: transparent $color-orange transparent transparent;
}

.item .item_image {
    margin-bottom: 15px;
}

.item .item_image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.item .item_title {
    font-family: Prototypster;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 5px;
    padding-left: 5px;
}

.item .item_status {
    padding-left: 5px;
    margin-bottom: 30px;
}

.item .item_date {
    padding-left: 5px;
    margin-bottom: 5px;
}

.item .item_info {
    padding-left: 5px;
    line-height: 1.5;
}

.item .item_completeness {
    position: absolute;
    bottom: 20px;
    left: 15px;
    color: $color-gray;
    font-family: Prototypster;
    font-size: 24px;
    text-transform: uppercase;
}

.item .item_completeness .item_completeness_add {
    display: none;
    color: $color-orange;
    font-family: Prototypster;
    font-size: 24px;
    text-transform: uppercase;
}

.item:hover {
    -webkit-box-shadow: inset 0px 0px 0px 5px $color-orange;
    -moz-box-shadow: inset 0px 0px 0px 5px $color-orange;
    box-shadow: inset 0px 0px 0px 5px $color-orange;
}

.item:hover .item_completeness .item_completeness_done {
    display: none;
}

.item:hover .item_completeness .item_completeness_add {
    display: block;
}

footer {
    background-image: url('../img/footer-border.png');
    background-repeat: repeat-x;
    padding: 40px 20px;
}

.form-subscribe {
    max-width: 300px;
}

.form-subscribe div {
    margin-bottom: 30px;
    font-family: Prototypster;
    text-transform: uppercase;
}

.form-subscribe div:last-child {
    margin-bottom: 0;
}

.form-subscribe_mail {
    display: table;
    width: 100%;
}

.form-subscribe_mail .label,
.form-subscribe_mail .input {
    display: table-cell;
    vertical-align: middle;
}

.form-subscribe_mail .label {
    color: #fff;
    padding-right: 20px;
    width: 100px;
    box-sizing: border-box;
}

.form-subscribe_mail .input input {
    border-radius: 6px;
    padding: 10px;
    border: none;
    width: 100%;
    font-family: Prototypster;
    text-transform: uppercase;
    font-size: 18px;
    box-sizing: border-box;
}

.form-subscribe_subscribe {
    color: #fff;
    margin-left: 98px;
    font-size: 18px;
}

.form-subscribe_subscribe label {
    padding-top: 4px;
}

.form-subscribe_submit input {
    color: $color-orange;
    background-color: transparent;
    font-size: 27px;
    font-family: Prototypster;
    text-transform: uppercase;
    padding: 0;
    cursor: pointer;
    line-height: 1;
    border: none;
    border-bottom: 1px solid $color-orange;
    margin-left: 98px;
}


/*custom checkbox*/

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}

[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.5em;
    height: 1.5em;
    background-image: url('../img/checkbox-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
}

[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
    background-image: url('../img/checkbox-check.png');
    background-repeat: no-repeat;
    content: ' ';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: .3em;
    left: .4em;
    transition: all .1s;
}

[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked+label:after {
    opacity: 1;
    transform: scale(1);
}

@media (max-width: 768px) {
    .item-wrapper {
        padding: 0 10px;
    }
}

@media (max-width: 678px) {
    .item-wrapper {
        float: none;
        width: 100%;
        display: block;
    }
    .item {
        height: auto;
    }
    .item:after {
        content: '';
        clear: both;
        display: table;
    }
    .item .item_tag-hit {
        left: 20px;
        right: auto;
    }
    .item .item_image {
        float: left;
        margin-right: 10px;
        margin-bottom: 0;
    }
    .item .item_info {
        margin-bottom: 10px;
    }
    .item .item_completeness {
        position: initial;
    }
}

@media (max-width: 550px) {
    .item .item_image {
        float: none;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .item .item_image img {
        margin-left: auto;
        margin-right: auto;
    }
    .item .item_tag-hit {
        left: auto;
        right: 20px;
    }
    .item .item_title,
    .item .item_status {
        text-align: center;
    }
    .item .item_date,
    .item .item_info,
    .item .item_completeness {
        max-width: 285px;
        margin-left: auto;
        margin-right: auto;
    }
    .item .item_completeness {
        padding-left: 5px;
    }
    .form-subscribe_subscribe {
        font-size: 16px;
    }
    .form-subscribe_submit input {
        font-size: 22px;
    }
}